@model SchoolSystem_Helsinki.Web.Models.Kullanici_Roller

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SchoolSystem_Helsinki.Web.Models;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="col-sm-12 col-md-12">
        <div class="panel">
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <h5 class="mb-lg"><b>Update</b></h5>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id)




                            <div class="form-group">

                                @Html.LabelFor(model => model.Kullanici_ref, "Kullanici_ref", htmlAttributes: new { @class = "control-label col-md-2" })

                                <div class="col-md-8">
                                    @Html.DropDownList("Kullanici_ref", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Kullanici_ref, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <br />
                            <br />


                            <div class="form-group">
                                @Html.LabelFor(model => model.Rol_ref, "Rol_ref", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.DropDownList("Rol_ref", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Rol_ref, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <br />

                            <div class="form-group">
                                @Html.LabelFor(model => model.active, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">

                                    <select class="form-control" name="active" @(Model.active == (int)EnumHelperData.Satatus.Aktif ? "disabled" : "")>
                                        <option value="0" @(Model.active == (int)EnumHelperData.Satatus.Pasif ? "selected" : "")>Pasif</option>
                                        <option value="1" @(Model.active == (int)EnumHelperData.Satatus.Aktif ? "selected" : "")>Aktif</option>
                                    </select>

                                    @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <br />



                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                </div>
                            </div>


                            <a href="@Url.Action("UserTaskList", "Home")" class="btn btn-wide">Back to List</a>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



